<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <%= link_to "Zenbook", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        
            <%= link_to('Sign Up', new_user_registration_path, class: "nav-link") %>
      
        </li>
      </ul>
    </div>
  </div>
</nav>

<body class='pic'>
<div class="container" id="sign-up-form">
  <div class="row">

  <h1>WELCOME TO ZENBOOK</h1>
  
  <div class="col-sm-offset-12 col-sm-12">
    <h4>Find your relaxation in code</h4><br>

    <div class="col-sm-4 col-sm-offset-3 sign-up-form-inputs">
      <h2 class="text-center">Log in</h2>
      <br>
        <%= bootstrap_form_for(resource, 
                          as: resource_name, 
                          url: session_path(resource_name)) do |f| %>

        <%= f.email_field :email, 
                          autofocus: true, 
                          class: 'form-control', 
                          placeholder: 'email' %>

        <%= f.password_field  :password, 
                              autocomplete: "off", 
                              class: 'form-control',
                              placeholder: 'password' %>


      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %><br>
      <% end -%>

        <%= f.submit "Log in", class: 'btn btn-sm btn-primary pull-right' %>
        <br><br>


        <% end %>
      </div>
    </div> 
  </div>
</body>