
<div class="container text-center">
<%# button to the new_post form  %>
<%= link_to new_post_path do %>
<button class="btn btn-sm btn-primary pull-right">
  New post
  </button>
<% end %>
<br>
<br>

<div class="line">
<% if flash[:msg].present? %>
<div class='confirm'>
  <%= flash[:msg] %>
</div>
<% end %>
<br>
  <%# interate the whole data base and render it on the webpage %>
      <% @posts.each do |post| %>
      <%# needed for center position %>
        <div class="media-body">
          <div class="line">
          <p class="text-muted text-sm">
          Posted by <%= post.user.name %> on
          <%# time create for post on the database column "creaate_at", with format %>
          <%= post.created_at.strftime("%d %b %y") %> 
          </p>
          <%# each message element from the database message column %>
          <p> <%= simple_format(post.message) %> </p> 
          <%# simple_format replaces the /n with <br> so we can keep the line breaks on render%>
            
          <% if post.user.id == current_user.id %>
          <%# grey small text showing date %>
          <p class="text-muted text-sm">
          <%# having a link to delete the post %>
            <%= link_to 'Delete', post_path(post), 
                        method: :delete, 
                        # data here is just a pop up message 
                        data: { confirm: 'Are you sure?' } %>
          <%# <% end %> 
   <%# condition statement for edit post with in 10 minutes window %>
            <% if post.created_at >= Time.now - 10*60 %>
              <%= link_to 'Edit', edit_post_path(post) %>
            <% end %>
          </p>
          <% end %>

          <% post.comments.each do |comment| %>
          <p class="text-muted text-sm">
          <strong><%= comment.user.name %></strong>:
          <%= comment.content %>
          </p>
          <p class="text-muted text-sm">
            <%= link_to 'Delete', post_comment_path(post, comment),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>

            <% if comment.created_at >= Time.now - 10*60 %>
              <%= link_to 'Edit', edit_post_comment_path(post, comment) %>
            <% end %>
          <% end %>

       
          </p>
          <%= form_with(model: [post, post.comments.build], local: true) do |form| %> 
            <p class="text-muted text-sm">
            <%= form.label :comment %><br>
            <%= form.text_area :content %><br>
            <%= form.submit %>
            </p>
          <% end %>


          </div>
        </div>
        <br>
 
        <% end %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
</div>
</div>
